@page "{id:int?}"
@model ContosoUniversity.Pages.Instructors.IndexDTModel

@{
    ViewData["Title"] = "Instructors";
}
@section HeadCss
{
<!-- DataTables -->
<link rel="stylesheet" href="~/lib/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
<link rel="stylesheet" href="~/lib/plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
<link rel="stylesheet" href="~/lib/datatables.net-searchpanes-bs4/searchPanes.bootstrap4.css" />
<link rel="stylesheet" href="~/lib/plugins/datatables-select/css/select.bootstrap4.min.css">
<link rel="stylesheet" href="~/lib/plugins/datatables-buttons/css/buttons.bootstrap4.css" />
}
<h2>Instructors</h2>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table" id="tblInstructors">
    <thead>
        <tr>
            <th>Last Name</th>
            <th>First Name</th>
            <th>Hire Date</th>
            <th>Office</th>
            <th>Courses</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.InstructorData.Instructors)
        {
            string selectedRow = "";
            if (item.ID == Model.InstructorID)
            {
                selectedRow = "table-success";
            }
            <tr class="@selectedRow">
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstMidName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HireDate)
                </td>
                <td>
                    @if (item.OfficeAssignment != null)
                    {
                        @item.OfficeAssignment.Location
                    }
                </td>
                <td>
                    @{
                        foreach (var course in item.Courses)
                        {
                            @course.CourseID @:  @course.Title <br />
                        }
                    }
                </td>
                <td>
                    <a asp-page="./Index" asp-route-id="@item.ID">Select</a> |
                    <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                    <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                    <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@if (Model.InstructorData.Courses != null)
{
    <h3>Courses Taught by Selected Instructor</h3>
    <table class="table">
        <tr>
            <th></th>
            <th>Number</th>
            <th>Title</th>
            <th>Department</th>
        </tr>

        @foreach (var item in Model.InstructorData.Courses)
        {
            string selectedRow = "";
            if (item.CourseID == Model.CourseID)
            {
                selectedRow = "table-success";
            }
            <tr class="@selectedRow">
                <td>
                    <a asp-page="./Index" asp-route-courseID="@item.CourseID">Select</a>
                </td>
                <td>
                    @item.CourseID
                </td>
                <td>
                    @item.Title
                </td>
                <td>
                    @item.Department.Name
                </td>
            </tr>
        }

    </table>
}

@if (Model.InstructorData.Enrollments != null)
{
    <h3>
        Students Enrolled in Selected Course
    </h3>
    <table class="table">
        <tr>
            <th>Name</th>
            <th>Grade</th>
        </tr>
        @foreach (var item in Model.InstructorData.Enrollments)
        {
            <tr>
                <td>
                    @item.Student.FullName
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Grade)
                </td>
            </tr>
        }
    </table>
}

@section scripts{
<!-- page script DataTables -->
<script>
    $(function () {
        var table = $("#tblInstructors").DataTable({
            stateSave: true,
            stateDuration: 60 * 60 * 12,
            order: [[0, "asc"]],
            pageLength: 10,
            lengthMenu: [[10, 25, 50, 100, -1], [10, 25, 50, 100, "Alles"]],
            responsive: true,
            autoWidth: false,
            colReorder: true,
            language: {
                url: '/lib/datatables-plugins/i18n/nl_NL.json'
            },
            dom: "<'row'<'col-md-12'B>><'row'<'col-md-6'l><'col-md-6'f>><'row'<'col-md-12't>><'row'<'col-md-6'i><'col-md-6'p>>",
            buttons: [
                { extend: 'copy', className: 'mb-3' },
                { extend: 'csv', className: 'ml-3 mb-3' }
            ],
            columnDefs: [
                { orderable: false, targets: [] }
            ]
        });
        table.state.clear();
    });
</script>
<!-- DataTables -->
<script src="~/js/vertogas_datatable_default.js"></script>
<script src="~/lib/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="~/lib//plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
<script src="~/lib//plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
<script src="~/lib//plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
<script src="~/lib/datatables.net-searchpanes/dataTables.searchPanes.min.js"></script>
<script src="~/lib/datatables.net-searchpanes-bs4/searchPanes.bootstrap4.js"></script>
<script src="~/lib//plugins/datatables-buttons/js/dataTables.buttons.min.js"></script>
<script src="~/lib//plugins/datatables-buttons/js/buttons.bootstrap4.js"></script>
<script src="~/lib//plugins/datatables-buttons/js/buttons.html5.min.js"></script>
<script src="~/lib//plugins/datatables-select/js/dataTables.select.min.js"></script>
}
